
kbd {
    --kbd-color-border: theme("colors.gray.500");
    border: 1px solid theme("colors.gray.300");
    border-bottom-color: var(--kbd-color-border);
    border-radius: 3px;
    box-shadow: 0 2px 0 1px var(--kbd-color-border);
    cursor: default;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    position: relative;
    top: -1px;
    padding: 3px 5px;
    margin: 3px;
    vertical-align: middle;

    &:hover {
        box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
        top: 1px;
    }
}

mark, .prose :not(pre) :where(code):not(:where([class~="not-prose"] *)) {
    // background-color: theme("colors.highlight");
    padding: 2px 4px;
    border-radius: theme("borderRadius.DEFAULT");

    &::before, &::after {
        content: "";
    }
}

pre, .prose pre {
    background-color: theme("colors.slate.900");
    padding: theme("spacing.2") 0;
}

code, .prose code {
    padding: 0;
}

pre {
    code {
        .line.highlighted {
            position: relative;
            display: inline-block;
            width: 100%;
            background-color: theme("colors.gray.700");
    
            &::before {
                color: theme("colors.gray.500");
            }
    
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 3px;
                background-color: theme("colors.white");
            }
        }
    }
}

.prose {
    pre, img {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 32px 32px 0px, 
                    rgba(0, 0, 0, 0.15) 0px 16px 16px 0px, 
                    rgba(0, 0, 0, 0.15) 0px 8px 8px 0px, 
                    rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
    }
}

// Code block line numbers
code {
    counter-reset: line;
}
   
code > .line::before {
    counter-increment: line;
    content: counter(line);
   
    /* Other styling */
    display: inline-block;
    width: 2.5rem;
    padding-right: 0.5rem;
    margin-right: 0.2rem;
    text-align: right;
    color: theme("colors.gray.700");
}

code[data-line-numbers-max-digits="2"] > .line::before {
    width: 2rem;
}

code[data-line-numbers-max-digits="3"] > .line::before {
    width: 3rem;
}

// Code block title
[data-rehype-pretty-code-title] {    
    padding: 6px 12px;
    margin: 0;
    border-bottom: 2px solid var(--border-color);
    font-family: theme("fontFamily.mono");
    font-size: theme("fontSize.xs");
    color: theme("colors.gray.50");
    background-color: theme("colors.slate.800");
    border-top-left-radius: theme("borderRadius.DEFAULT");
    border-top-right-radius: theme("borderRadius.DEFAULT");
    width: fit-content;

    --border-color: theme("colors.slate.500");
    &[data-language="html"] {
        --border-color: #e34c26;
    }
    &[data-language="js"] {
        --border-color: #f0db4f;
    }
    &[data-language="ts"] {
        --border-color: #007acc;
    }
    &[data-language="python"] {
        --border-color: #0d1c4d;
    }
    &[data-language="terraform"] {
        --border-color: #946ced;
    }
    &[data-language="go"] {
        --border-color: #3AADD9;
    }
}

[data-rehype-pretty-code-title] + pre {
    margin-top: 0;
    border-top-left-radius: 0;
}
