---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/config";
import Base from "@/layouts/Base.astro";
import Section from "@/components/Section.astro";
import ArticlesGrid from "@/components/ArticlesGrid.astro";

const posts = await Astro.glob("../pages/blog/*.md");
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <article>
        <div class="content prose mb-10 dark:prose-invert">
            <h1>🧑‍🚀 Hello, Astronaut!</h1>
            <p>
                Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This template serves
                as a lightweight, minimally-styled starting point for anyone looking to build a personal website, blog, or
                portfolio with Astro.
            </p>
        </div>

        <Section title="Articles">
            <ArticlesGrid posts={posts} />
        </Section>
    </article>
</Base>
