---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "@/config";
import Logo from "@/components/Logo.astro";
import ThemeToggle from "@/components/ThemeToggle/ThemeToggle";

interface HeaderLink {
    title: string;
    link: string;
}

const headerLinks: HeaderLink[] = [
    {
        title: "Blog",
        link: "/blog",
    },
    {
        title: "About",
        link: "/about",
    },
];
---

<header class="container mx-auto mb-8 py-4 flex justify-between align-middle">
    <a href="/" class="flex items-center">
        <Logo />
        <!-- <h2 class="text-xl font-bold m-0">
            {SITE_TITLE}
        </h2> -->
    </a>
    <div class="navs flex items-center space-x-2.5">
        {
            headerLinks.map((headerLink) => (
                <nav>
                    <HeaderLink href={headerLink.link}>{headerLink.title}</HeaderLink>
                </nav>
            ))
        }
        <nav>
            <ThemeToggle client:load />
        </nav>
    </div>
</header>
