---
import type { MarkdownInstance } from "astro";
import ArticleCard from "./ArticleCard.astro";

export interface Props {
    posts: MarkdownInstance<Record<string, any>>[];
}

const { posts } = Astro.props;
---

<div class="cards-grid flex flex-auto flex-wrap gap-2">
    {posts.map((post) => <ArticleCard title={post.frontmatter.title} path={post.url} />)}
</div>

<script is:inline>
    const handleMouseMove = (e) => {
        const { currentTarget } = e;

        for (let card of currentTarget.querySelectorAll(".card")) {
            const rect = card.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            card.style.setProperty("--mouse-x", `${x}px`);
            card.style.setProperty("--mouse-y", `${y}px`);
        }
    };
    document.querySelector(".cards-grid").addEventListener("mousemove", handleMouseMove);
</script>

<style is:global>
    .cards-grid:hover > .card > .card-border {
        opacity: 1;
    }
</style>
