---
export interface Props {
    title?: string;
    className?: string;
}

const { title, className } = Astro.props;
---

<section class={`relative overflow-hidden pb-8 ${className}`}>
    <h2 class="relative inline-block text-5xl font-bold mb-10">{title}</h2>
    <span class="text-massive font-bold text-vertical absolute top-0 right-0 opacity-5">{title}</span>
    <div>
        <slot />
    </div>
</section>

<style>
    .pseudo-dots-bg::before {
        --bg-color: #050014;
        --dot-color: #4b4164;
        --dot-size: 2px;
        --dot-space: 14px;

        content: "";
        position: absolute;
        top: -30%;
        left: -10%;
        height: 100%;
        width: 100%;
        z-index: -1;

        background: linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%)
                center,
            linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
            var(--dot-color);
        background-size: var(--dot-space) var(--dot-space);
    }
    .text-vertical {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        pointer-events: none;
    }
    .text-massive {
        font-size: 18rem;
    }
</style>
