---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import CardGrid from "@components/CardGrid";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`} activeNav="posts">
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <CardGrid client:load posts={paginatedPosts} />
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}`}
    nextUrl={`/posts/${currentPage + 1}`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
